html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html p,
body p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.starlight {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #51b7ec;
}
.header .logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 185px;
}
.header img {
  width: 100%;
  height: 100%;
}
.header .text {
  float: left;
  font-size: 25px;
  margin-left: 10px;
  line-height: 50px;
}
.container {
  margin-top: 80px;
  border: 2px solid #9ea1a5;
}
.container .bgc {
  height: 100px;
  background-color: #fff3f3;
}
.container .bgc p {
  font-size: 20px;
  font-weight: 700;
  line-height: 100px;
  padding-left: 50px;
}
.container .big {
  display: flex;
}
.container .big .content-left {
  width: 50%;
}
.container .big .content-left .only {
  background: no-repeat;
  width: 80px;
  height: 80px;
  margin: 30px 245px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.container .big .content-left .only .bgc1 {
  width: 78px;
  height: 78px;
  background: no-repeat;
  background-size: cover;
  border: none;
}
.container .big .content-left .only form {
  width: 78px;
  height: 78px;
}
.container .big .content-left #img {
  margin-top: 10px;
  margin-left: 220px;
}
.container .big .content-right {
  width: 50%;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.container .big .content-right .one {
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
}
.container .big .content-right .one label {
  font-weight: 300;
  cursor: pointer;
}
.container .big .content-right p {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 300;
  border-top: 2px dashed #ccc;
  text-align: center;
}
.container .big .content-right p label {
  font-weight: 300;
  cursor: pointer;
}
.container .big .content-right .end {
  line-height: 60px;
}
.container .big .left {
  margin-left: 440px;
}
.banner {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #51b7ec;
}
.banner .last {
  border: none;
  margin-top: 0;
}
.banner .last .text {
  width: 80%;
  height: 70px;
  margin: 0 auto;
}
.banner .last .text a {
  display: inline-block;
  height: 50px;
  line-height: 90px;
  text-align: center;
  margin: 0 50px;
}
.banner ul {
  position: absolute;
  top: 40%;
  left: 24%;
}
.banner ul li {
  float: left;
  margin: 0 20px;
}
.banner ul li a {
  text-decoration: none;
  color: azure;
}
.banner ul li a:hover {
  color: aquamarine;
}
@media screen and (max-width: 450px) {
  .logo {
    display: none!important;
  }
  .container {
    margin-top: 25px!important;
  }
  .container .big {
    flex-flow: wrap!important;
  }
  .container .big .content-left,
  .container .big .content-right {
    width: 100%!important;
  }
  .container .big .content-right {
    margin-top: 0!important;
  }
  .content-left .only {
    margin: 30px auto!important;
  }
  .content-left #img {
    margin: 10px auto!important;
    text-align: center!important;
  }
  .banner {
    position: relative!important;
    height: 110px!important;
    margin-top: 0!important;
  }
  .banner a {
    height: 0!important;
    line-height: 0!important;
    margin: 0 9px !important;
    margin-top: 15px!important;
  }
  .banner .miss {
    display: none!important;
  }
  .banner .zuo {
    margin-left: 33px!important;
  }
  .banner p {
    margin-top: -18px !important;
  }
}
/*# sourceMappingURL=center.css.map */