html,body {
  h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
  }
}
ul,li {
  list-style: none;
}
.starlight{
  width: 100%;
  height: 100%;
  position:relative;
  padding:0;
  margin:0;
  overflow: hidden
}
.header {
  width: 100%;
  height: 50px;
  background-color:#51b7ec;
  .logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 185px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .text {
    float: left;
    font-size: 25px;
    margin-left: 10px;
    line-height: 50px;
  }
}
.container {
  margin-top: 80px;
  border: 2px solid #9ea1a5;
 .bgc {
    height: 100px;
    background-color: #fff3f3;
      p {
        font-size: 20px;
        font-weight: 700;
        line-height: 100px;
        padding-left: 50px;
      }
    }
  .big {
    display: flex;
    .content-left {
      width: 50%;
      .only{
        background: no-repeat;
        width: 80px;
        height: 80px;
        margin: 30px 245px;
        border: 1px solid #ccc;
        cursor: pointer;
        .bgc1 {
          width: 78px;
          height: 78px;
          background: no-repeat;
          background-size: cover;
          border: none;
        }
        form {
          width: 78px;
          height: 78px;
        }
      }
      #img {
        margin-top:10px;
        margin-left: 220px;
      }
    }
    .content-right {
      width: 50%;
      margin-top: 30px;
      font-size: 26px;
      font-weight: 700;
      text-align: center;
      .one {
        text-align: center;
        margin-top: 20px;
<<<<<<< HEAD
        label {ni
=======
        line-height: 50px;
        label {
>>>>>>> cc5cde2b6ec0714100e1438ecfda7db1d3b1629a
          font-weight: 300;
          cursor: pointer;
        }
      }
      p {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 300;
        border-top: 2px dashed #ccc;
        text-align: center;
        label {
          font-weight: 300;
          cursor: pointer;
        }
      }
      .end {
        line-height: 60px;
      }
    }
    .left {
      margin-left: 440px;
    }
  }
}
.banner {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #51b7ec;
  .last {
    border: none;
    margin-top: 0;
    .text {
      width: 80%;
      height: 70px;
      margin: 0 auto;
      a {
        display: inline-block;
        height: 50px;
        line-height: 90px;
        text-align: center;
        margin: 0 50px;
      }
    }
  }
  ul {
    position: absolute;
    top: 40%;
    left: 24%;
  }
  ul li {
    float: left;
    margin: 0 20px;
    a {
      text-decoration: none;
      color: azure;
    }
    a:hover {
      color: aquamarine;
    }
  }
}
@media screen and (max-width: 450px) {
  .logo {
    display: none!important;
  }
  .container {
    margin-top: 25px!important;;
    .big {
      flex-flow: wrap!important;
      .content-left,.content-right {
        width: 100%!important;
      }
      .content-right {
        margin-top: 0!important;
      }
    }
  }
  .content-left{
    .only {
      margin: 30px auto!important;
    }
    #img {
      margin: 10px auto!important;
      text-align: center!important;
    }
  }
  .banner {
    position: relative!important;
    height: 110px!important;
    margin-top: 0!important;
    a {
      height: 0!important;
      line-height: 0!important;
      margin: 0 9px !important;
      margin-top: 15px!important;
    }
    .miss {
      display: none!important;
    }
    .zuo {
      margin-left: 33px!important;
    }
    p {
      margin-top: -18px!important;
    }
  }
}