.whole {
  background: url('../img/BackGroundImage.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.whole .login {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  text-align: center;
}
.whole .login .header {
  height: 70px;
}
.whole .login .header h1 {
  padding-top: 10px;
}
.whole .login .header h2 {
  line-height: 20px;
  color: black;
}
.whole .login .content {
  position: relative;
  width: 480px;
  height: 350px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}
.whole .login .content .remember {
  position: absolute;
  top: 95%;
  left: 0%;
}
.whole .login .content .remember label {
  cursor: pointer;
}
.whole .login .content .register {
  position: absolute;
  bottom: 65px;
  left: 18%;
}
.whole .login .content .inputone {
  position: absolute;
  top: 110px;
  left: 18%;
  margin-bottom: 20px;
  width: 300px;
}
.whole .login .content .forget {
  position: absolute;
  bottom: -50px;
  left: 75%;
}
.whole .login .content .denglu {
  position: absolute;
  bottom: -90px;
  left: 0%;
  width: 300px;
  border-radius: 12px;
}
.whole .login .content .zhuce {
  position: absolute;
  right: 0;
  width: 170px;
}
.whole .login11 {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  text-align: center;
}
.whole .login11 .header1 {
  height: 60px;
}
.whole .login11 .header1 h2 {
  line-height: 65px;
  color: black;
}
.whole .login11 .content1 {
  position: relative;
  width: 480px;
  height: 580px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}
.whole .login11 .content1 .register11 {
  position: absolute;
  bottom: 65px;
  left: 18%;
}
.whole .login11 .content1 .inputone1 {
  position: absolute;
  top: 60px;
  left: 18%;
  margin-bottom: 20px;
  width: 300px;
}
.whole .login11 .content1 .inputone1 .el-form-item {
  margin-bottom: 30px!important;
}
.whole .login11 .content1 .yanone1,
.whole .login11 .content1 .yantwo1 {
  height: 40px;
}
.whole .login11 .content1 .yanone1 {
  width: 180px;
  margin-left: -122px;
  border-radius: 4px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.whole .login11 .content1 .yanone1:hover {
  border-color: #9ea1a5;
}
.whole .login11 .content1 .yantwo1 {
  position: absolute;
  left: 65px;
  margin-left: 135px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #DCDFE6;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.whole .login11 .content1 .count {
  background-color: rgba(239, 239, 239);
}
.whole .login11 .zhuceOne1 {
  position: absolute;
  bottom: -75px;
  left: 0%;
  width: 300px;
  border-radius: 12px;
}
.whole .login11 .zhuce1 {
  position: absolute;
  right: 0;
  width: 170px;
}
@media screen and (max-width: 480px) {
  .whole {
    background: url('https://oauthstatic.bannerstudio.club/static/img/BackGroundImage.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .whole .login {
    width: 100%;
    height: 100%;
    margin-top: 200px;
  }
  .whole .login .content {
    width: 100%;
    background-color: transparent;
  }
  .whole .login .content .header {
    color: antiquewhite;
    text-align: center;
  }
  .whole .login .content .header h1 {
    font-size: 30px;
  }
  .whole .login .content .header h2 {
    color: antiquewhite;
  }
  .whole .login .content .register {
    color: antiquewhite;
    left: 13%;
    bottom: 65px;
  }
  .whole .login .content .denglu {
    width: 320px;
  }
  .whole .login .content .inputone {
    left: 12%;
    width: 320px;
  }
  .whole .login .content .inputone .forget {
    left: 80%;
    bottom: -50px;
  }
  .whole .login .content .inputone .remember {
    color: antiquewhite;
    top: 95%;
  }
  .whole .login11 {
    top: 25%;
  }
  .whole .login11 .zhuceOne1 {
    bottom: -90px;
    width: 320px;
  }
  .whole .login11 .content1 {
    background-color: transparent;
  }
  .whole .login11 .content1 .header1 h2 {
    color: antiquewhite;
  }
  .whole .login11 .content1 .register11 {
    color: antiquewhite;
    left: 18%;
    bottom: 58px;
  }
  .whole .login11 .content1 .inputone1 {
    width: 320px;
    left: 17%;
    margin-bottom: 0!important;
  }
  .whole .login11 .content1 .inputone1 .yanone1 {
    padding: 0;
    width: 205px;
    border: none;
    margin-left: -110px;
  }
  .whole .login11 .content1 .inputone1 .yantwo1 {
    position: absolute;
    margin-left: 180px;
    left: 40px;
  }
  .whole .login11 .content1 .inputone1 .el-form-item {
    margin-bottom: 30px!important;
  }
  .whole .login11 .content1 .inputone1 .el-form-item:nth-child(6) {
    margin-bottom: 22px!important;
  }
}
@media screen and (max-width: 380px) {
  .login .content .header h1 {
    font-size: 27px!important;
  }
  .login .inputone {
    left: 7% !important;
  }
  .login .register {
    left: 8% !important;
  }
}
@media screen and (max-width: 330px) {
  .login .content .header h1 {
    font-size: 24px!important;
  }
  .login .inputone {
    width: 270px!important;
    left: 9% !important;
  }
  .login .denglu {
    width: 270px!important;
  }
  .login .forget {
    left: 75% !important;
  }
  .inputone1 {
    width: 270px!important;
    left: 22% !important;
    margin-bottom: 0!important;
  }
  .register {
    left: 9% !important;
  }
  .register11 {
    left: 23% !important;
    bottom: 80px!important;
  }
  .zhuceOne1 {
    width: 270px!important;
    margin-bottom: 20px!important;
  }
  .yanone1 {
    width: 135px!important;
    left: -11px !important;
  }
  .yantwo1 {
    margin-left: 130px!important;
  }
}
@media screen and (max-width: 300px) {
  .login .content .header h1 {
    font-size: 20px!important;
  }
  .login .inputone {
    width: 270px!important;
    left: 2% !important;
  }
  .login .denglu {
    width: 270px!important;
  }
  .login .forget {
    left: 75% !important;
  }
  .inputone1 {
    width: 270px!important;
    left: 22% !important;
    margin-bottom: 0!important;
  }
  .login .register {
    left: 4% !important;
  }
  .register11 {
    left: 23% !important;
    bottom: 80px!important;
  }
  .zhuceOne1 {
    width: 270px!important;
    margin-bottom: 20px!important;
  }
  .yanone1 {
    width: 135px!important;
    left: -11px !important;
  }
  .yantwo1 {
    margin-left: 130px!important;
  }
}
/*# sourceMappingURL=login.css.map */