.whole {
  background: url('../img/BackGroundImage.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  .login {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    text-align: center;
    .header {
      height: 70px;
      h1 {
        padding-top: 10px;
      }
      h2 {
        line-height: 20px;
        color: black;
      }
    }

    .content {
      position: relative;
      width: 480px;
      height: 350px;
      margin: 10px auto;
      background: rgba(255,255,255,.8);
      border-radius: 12px;
      .remember  {
        position: absolute;
        top: 62%;
        left: 22%;
          label {
            cursor: pointer;
          }
      }
      .register {
        position: absolute;
        //top: 60px;
        bottom: 75px;
        left: 22%;
      }
      .inputone {
        position: absolute;
        top: 110px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
      }
      .inputtwo {
        position: absolute;
        top: 165px;
        height: 55px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
      }
      .forget {
        position: absolute;
        bottom: 75px;
        left: 65%;
      }
      .denglu {
        position: absolute;
        bottom: 35px;
        left: 22%;
        width: 270px;
        border-radius: 12px;
      }
      .zhuce {
        position: absolute;
        right: 0;
        width: 170px;
      }
    }
  }
  .count {
    //width: 112px!important;
    margin-left: 0!important;
  }
  .code {
    //width: 70%;
  }
  //注册
  .login11 {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    text-align: center;
    .header1 {
      height: 60px;
      h2 {
        line-height: 95px;
        color: black;
      }
    }
    .content1 {
      position: relative;
      width: 480px;
      height: 540px;
      margin: 10px auto;
      background: rgba(255,255,255,.8);
      border-radius: 12px;
      .register11 {
        position: absolute;
        bottom: 70px;
        left: 22%;
      }
      .inputone1 {
        position: absolute;
        top: 80px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
      }
      .inputtwo1 {
        position: absolute;
        top: 140px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
      }
      .inputThree1 {
        position: absolute;
        top: 265px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
      }
      .inputFour1 {
        position: absolute;
        top: 370px;
        left: 22%;
        margin-bottom: 20px;
        width: 270px;
        .yanone1,
        .yantwo1 {
          height: 40px;
        }
        .yanone1 {
          width: 123px;
          margin-right: 10px;
          border: 1px solid #DCDFE6;
          border-radius: 4px;
          padding: 0 15px;
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        }
        .yanone1:hover {
          border-color: #9ea1a5;
        }
        .yantwo1 {
          width: 100px;
          border-radius: 4px;
          border: 1px solid #DCDFE6;
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
        }
        .count {
          background-color: rgba(239, 239, 239);
        }
        .yantwo1:hover {
          //border-color: #9ea1a5;
          //background-color: #;
        }
      }
      .zhuceOne1 {
        position: absolute;
        bottom: 30px;
        left: 22%;
        width: 270px;
        border-radius: 12px;
      }
      .zhuce1 {
        position: absolute;
        right: 0;
        width: 170px;
      }
    }
  }
}
